@model ProjetoModeloDDD.MVC.ViewModels.AutoInfracaoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.processo.Fornecedor.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.processo.Fornecedor.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.processo.Fornecedor.RazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.processo.Fornecedor.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.processo.Fornecedor.ReceitaBruta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.processo.Fornecedor.ReceitaBruta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.processo.dataRelato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.processo.dataRelato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.processo.relatoFiscalizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.processo.relatoFiscalizacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gravidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gravidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atenuante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atenuante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agravante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agravante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.multa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.multa)
        </dd>

    </dl>
</div>

