@model ProjetoModeloDDD.MVC.ViewModels.ProcessoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ProcessoViewModel</h4>
        <hr />

        <div class="form-group" id="divBuscaFornecedor">
            @Html.LabelFor(model => model.Fornecedor.Cnpj, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-4">
                @Html.EditorFor(model => model.Fornecedor.Cnpj, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fornecedor.Cnpj, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <button type="button" id="buscaFornecedor">Buscar Fornecedor</button>
            </div>
        </div>

        <div id="divFornecedor">

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.relatoFiscalizacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.relatoFiscalizacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.relatoFiscalizacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataRelato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataRelato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dataRelato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fiscalResponsavel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fiscalResponsavel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fiscalResponsavel, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" name="FornecedorId" id="FornecedorId" value="">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        
        $(function () {
            $("#buscaFornecedor").on("click", function () {
                $.ajax(
                {
                    url: "/Processo/FornecedorInfo?CNPJ=" + $("#Fornecedor_Cnpj").val()
                , type: 'GET'
                , dataType: 'HTML'
                , cache: false
                , async: true
                , success: function (data) {
                    console.log(data);
                    $("#divFornecedor").html(data);
                    $("#divBuscaFornecedor").hide();
                    $("#FornecedorId").val($("#Fornecedor_Id").val());
                }
                });
            });
        });

    </script>
}
